<div class="body ui container">
  <img class="ui centered large image" src="../../../../assets/images/image.png">
  <div class="ui four column grid product">
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Product 1</div>
          <div class="meta">New</div>
          <div class="description">
            <p>Product 1 description </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Product 2</div>
          <div class="meta">New</div>
          <div class="description">
            <p>Product 2 description </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Product 3</div>
          <div class="meta">New</div>
          <div class="description">
            <p>Product 3 description </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <div class="content">
          <div class="header">Product 4</div>
          <div class="meta">New</div>
          <div class="description">
            <p>Product 4 description </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
